* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  font-family:sans-serif ;
  
}
#nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
padding: 40px 60px;
}
#nav-part1{
  display: flex;
justify-content: space-between;
width: 40%;
}
#nav-part2{
  display: flex;
justify-content: space-between;
width: 35%;
}
#nav h2{
  font-size: 15px;
  font-weight: 500;
}
#nav h3{
  font-size: 15px;
  font-weight: 500;
}
#nav h4{
  font-size: 15px;
  font-weight: 500;
}
#content{
  margin-top:80px;
  padding: 40px 60px;
}
#content h3{
font-size: 22px;
font-weight: 500;
}
#content h1{
  margin-top:40px ;
  font-size: 140px;
  font-weight: 450;
  line-height: 140px;
  letter-spacing: -8px;
  word-spacing: 10px;
  }
  #case {
    margin-top: 160px;
padding: 40px 65px;
display: flex;
align-items: center;
justify-content: space-between;

  }
  #Case h4{
    font-size: 25px;
    font-weight: 500;
  }
  #Case h5{
    font-size: 25px;
    font-weight: 500;
  }
  #right{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  #line{
    height: 2px;
    width: 100px;
    background-color: black;
  }
  #projects{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    gap: 60px;
  }
  .elem{
    width: 50%;
  }
  .elem-img{
    height: 450px;
    background-color: rgb(203, 233, 245);
   width: 100%;
   border-radius: 30px;
   background-size:cover;
   background-position: center;
  }
  #img1{
    background-image: url(https://pagedone.io/asset/uploads/1707480017.png);

  }
  #img2{
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQuvZVLNglBtnLlxR_brn4OU5m_N04r9tm5XjIgPG6WkqJe3-LS);
  }
  .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
  }
  .bottom i{
    padding: 20px 30px;
    font-size: 17px;
    border: 2px solid black;
border-radius: 30px;
  }
  .bottom i:hover{
    background-color: rgb(67, 131, 158);
  }
